@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Michael L Perry</h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:Michael@qedcode.com">Michael@qedcode.com</a></span>
    </p>
    <p>
        <span class="label">Twitter:</span>
        <span><a href="http://twitter.com/michaellperry">MichaelLPerry</a></span>
    </p>
    <p>
        <span class="label">Blog:</span>
        <span><a href="http://qedcode.com">qedcode.com</a></span>
    </p>
</section>
