@model IEnumerable<DuraCore.Models.Confirmation>

@{
    ViewBag.Title = "Shipments";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<table>
    <tr>
        <th>
            Item
        </th>
        <th>
            Confirmation Number
        </th>
    </tr>

@foreach (var confirmation in Model) {
    <tr>
        <td>
            @confirmation.Item
        </td>
        <td>
            @confirmation.ConfirmationNumber
        </td>
    </tr>
}

</table>
